/* Some sensible defaults for images
Bring inline: Yes. */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/web\/shared\/grunt-email-boilerplate\/src\/scss\/_base\.scss}line{font-family:\000033}}
img {
  outline: none;
  text-decoration: none;
  -ms-interpolation-mode: bicubic;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/web\/shared\/grunt-email-boilerplate\/src\/scss\/_base\.scss}line{font-family:\000034}}
a img {
  border: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/web\/shared\/grunt-email-boilerplate\/src\/scss\/_base\.scss}line{font-family:\000035}}
.image_fix {
  display: block;
}

/* Yahoo paragraph fix
Bring inline: Yes. */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/web\/shared\/grunt-email-boilerplate\/src\/scss\/_base\.scss}line{font-family:\000039}}
p {
  margin: 1em 0;
}

/* Hotmail header color reset
Bring inline: Yes. */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/web\/shared\/grunt-email-boilerplate\/src\/scss\/_base\.scss}line{font-family:\0000313}}
h1, h2, h3, h4, h5, h6 {
  color: black !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/web\/shared\/grunt-email-boilerplate\/src\/scss\/_base\.scss}line{font-family:\0000315}}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: blue !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/web\/shared\/grunt-email-boilerplate\/src\/scss\/_base\.scss}line{font-family:\0000317}}
h1 a:active, h2 a:active, h3 a:active, h4 a:active, h5 a:active, h6 a:active {
  color: #4040c4 !important;
  /* Preferably not the same color as the normal header link color.  There is limited support for psuedo classes in email clients, this was added just for good measure. */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/web\/shared\/grunt-email-boilerplate\/src\/scss\/_base\.scss}line{font-family:\0000321}}
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited {
  color: #4040c4 !important;
  /* Preferably not the same color as the normal header link color. There is limited support for psuedo classes in email clients, this was added just for good measure. */
}

/* Outlook 07, 10 Padding issue fix
Bring inline: No.*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/web\/shared\/grunt-email-boilerplate\/src\/scss\/_base\.scss}line{font-family:\0000327}}
table td {
  border-collapse: collapse;
}

/* Remove spacing around Outlook 07, 10 tables
Bring inline: Yes */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/web\/shared\/grunt-email-boilerplate\/src\/scss\/_base\.scss}line{font-family:\0000331}}
table {
  border-collapse: collapse;
  mso-table-lspace: 0pt;
  mso-table-rspace: 0pt;
}

/* Styling your links has become much simpler with the new Yahoo.  In fact, it falls in line with the main credo of styling in email and make sure to bring your styles inline.  Your link colors will be uniform across clients when brought inline.
Bring inline: Yes. */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/web\/shared\/grunt-email-boilerplate\/src\/scss\/_base\.scss}line{font-family:\0000335}}
a {
  color: blue;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/web\/shared\/grunt-email-boilerplate\/src\/scss\/_base\.scss}line{font-family:\0000337}}
body {
  margin: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/web\/shared\/grunt-email-boilerplate\/src\/scss\/_main\.scss}line{font-family:\000032}}
#test {
  color: red;
}

/***************************************************
****************************************************
MOBILE TARGETING
****************************************************
***************************************************/
@media only screen and (max-device-width: 480px) {
  /* Part one of controlling phone number linking for mobile. */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/web\/shared\/grunt-email-boilerplate\/src\/scss\/_media-queries\.scss}line{font-family:\000038}}
  a[href^="tel"], a[href^="sms"] {
    text-decoration: none;
    color: blue;
    /* or whatever your want */
    pointer-events: none;
    cursor: default;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/web\/shared\/grunt-email-boilerplate\/src\/scss\/_media-queries\.scss}line{font-family:\0000315}}
  .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
    text-decoration: default;
    color: orange !important;
    pointer-events: auto;
    cursor: default;
  }
}
/* More Specific Targeting */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* You guessed it, ipad (tablets, smaller screens, etc) */
  /* repeating for the ipad */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/web\/shared\/grunt-email-boilerplate\/src\/scss\/_media-queries\.scss}line{font-family:\0000329}}
  a[href^="tel"], a[href^="sms"] {
    text-decoration: none;
    color: blue;
    /* or whatever your want */
    pointer-events: none;
    cursor: default;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/web\/shared\/grunt-email-boilerplate\/src\/scss\/_media-queries\.scss}line{font-family:\0000336}}
  .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
    text-decoration: default;
    color: orange !important;
    pointer-events: auto;
    cursor: default;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /* Put your iPhone 4g styles in here */
}
/* Android targeting */
@media only screen and (-webkit-device-pixel-ratio: 0.75) {
  /* Put CSS for low density (ldpi) Android layouts in here */
}
@media only screen and (-webkit-device-pixel-ratio: 1) {
  /* Put CSS for medium density (mdpi) Android layouts in here */
}
@media only screen and (-webkit-device-pixel-ratio: 1.5) {
  /* Put CSS for high density (hdpi) Android layouts in here */
}
/* end Android targeting */
