<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width"/>
	<title>Your Message Subject or Title</title>

    <link rel="stylesheet" type="text/css" href="css/style.css"/>

	<!-- Targeting Windows Mobile -->
	<!--[if IEMobile 7]>
	<style type="text/css">

	</style>
	<![endif]-->

	<!-- ***********************************************
	****************************************************
	END MOBILE TARGETING
	****************************************************
	************************************************ -->

	<!--[if gte mso 9]>
		<style>
		/* Target Outlook 2007 and 2010 */
		</style>
	<![endif]-->

  </head>
  <body>
    <table cellpadding="0" cellspacing="0" border="0" class="body">
      <tr>
        <td class="center" align="center" valign="top">
			<!-- Replace this contents with yout email body-->
          	<% include inc/_example-header.html %>
          	<% include inc/_example-body.html %>
        </td>
      </tr>
    </table>
  </body>
</html>