@mixin table-dims ($width: auto, $height: auto) {
	@if $width != auto {
		-premailer-width: strip-units($width);
		width: $width;
	}
	@if $height != auto {
		-premailer-height: strip-units($height);
		height: $height;
	}
}

@function strip-units ($value) {
	@return $value / 1px;
}