//elements colors
$base-heading-color: #000000;


//link colors
$base-link-color: #0000FF;
$base-link-active-color: #4040C4;
$base-link-visited-color: #4040C4;

$base-color-black: #010101; //use this for links